extends layout

block content
  style.
    .form-control {
      margin: 5px auto;
      width: 400px;
    }
  form(name="login", action="/login", method="post")
    input(type="text", class="form-control", name="username", placeholder="Agent Codename")
    input(type="password", class="form-control", name="password", placeholder="Agent password")
    div(style="margin: 0 auto; display: table;")
      button(type="submit", class='button', style="float:initial") ACCESS


    p(class="c2") Access by finger print
    img(src= "images/fingerPrint.jpeg", class="cente")
