extends layout

block content

    p(class="c2") Welcome! #{name}
    p Code name: 007
    p Organization: MI5
    p Nationality: United Kingdom
    p Officier: M
    img(src= "images/james.jpeg", class="cente")
    <a href="/" class="btn btn-default">Log out</a>
    form(name="" action="#" method="post")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    hr(class="a3")
    <div class="">
    .list-group
      a.list-group-item.active(href="/track?t=1" )
        h4.list-group-item-heading PinPoint Tracker
        p.list-group-item-text Trackers
      a.list-group-item(href="/process" )
        h4.list-group-item-heading Data processing
        p.list-group-item-text Analytics
      a.list-group-item(href="/db" )
          h4.list-group-item-heading Scan database
          p.list-group-item-text Criminal profile
      a.list-group-item(href="/hr")
          h4.list-group-item-heading Heart Rate profile
          p.list-group-item-text Normal Heart Rate
      a.list-group-item( href="/hq?a=1" )
          h4.list-group-item-heading Face Recognition
          p.list-group-item-text Recognize criminals
      a.list-group-item( href="/decrypt" )
          h4.list-group-item-heading Decrypt password
          p.list-group-item-text hacking networks
      a.list-group-item( href="/mission" )
            h4.list-group-item-heading Mission Brief
            p.list-group-item-text Mission data
